{% extends "base.html" %}
{% load tt_web %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <span style="font-size: 240px; font-weight: bold; color: #444444;">500</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <h3>Whoops! Something broke, please email <a href="mailto:cdc_support@iastate.edu?subject=500 Error on signup.iseage.org">cdc_support@iastate.edu</a> and tell us about it.</h3>
            </div>
        </div>
    </div>

{% endblock %}