{% extends "base.html" %}
{% load tt_web %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg btn-block" href="{% url "admin:index" %}" target="_blank">Open Django Admin</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" action='' method="POST" id="simple-form">
                {% csrf_token %}
                {% render_form_widget form icon="fa-sliders" %}
            </form>
        </div>
        <div class="col-md-6">
            {% if enable_green or enable_red %}
            <div class="row">
                <div class="col-md-12">
                    {% render_widget participant_approvals %}
                    <a class="btn btn-primary" href="{% url 'admin-approvals' %}">Red/Green Approvals</a>
                    {% render_widget_bottom %}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    {% render_widget email_list %}
                    {% if emails %}
                    <textarea readonly>{% for email in emails %}{{ email }},
        {% endfor %}</textarea>
                    {% else %}
                    <a class="btn btn-primary" href="?email_list=true">View List</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'admin-email' %}">Send Email to Participants</a>
                    {% render_widget_bottom %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% render_widget email_archive %}
                    {% render_email_archive archive %}
                    {% render_widget_bottom %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% render_widget danger_zone %}
                    <a class="btn btn-danger" href="{% url 'admin-reset' %}">Competition Reset</a>
                    {% render_widget_bottom %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
