{% extends "base.html" %}
{% load tt_web %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            {% render_widget widget_data %}
                {% if check_in %}
                    <a class="btn btn-success btn-lg btn-block" href="{% url "check-in" %}">Check In</a>
                {% endif %}
                {% if requested_team %}
                    <p>Your request to join {{ requested_team.name }} is pending approval.</p>
                {% endif %}
                {% if team %}
                    <p>You are currently a {% if is_captain %}captain{% else %}member{% endif %} of <strong>{{ team.name }}</strong></p>
                    <p>Your team number is: <strong>{{ team.number }}</strong></p>
                        {% if is_captain %}
                            <a class="btn btn-primary btn-lg btn-block" href="{% url "manage-team" %}">Manage your team</a>
                            <a class="btn btn-danger btn-lg btn-block" href="{% url "step-down" %}">Step down as captain</a>
                        {% elif captain_requested %}
                            <p>Your captain request is pending approval.</p>
                        {% else %}
                            <a class="btn btn-primary btn-lg btn-block" href="{% url "request-promotion" %}">Request to become a captain</a>
                            <a class="btn btn-danger btn-lg btn-block" href="{% url "leave-team" %}">Leave your team</a>
                        {% endif %}
                    <br>
                    <h4>Team Members</h4>
                    <table class="table table-striped" id="current-members">
                        <thead><tr>
                            <th>First</th>
                            <th>Last</th>
                            <th>Email</th>
                            <th>Captain</th>
                        </tr></thead>
                        <tbody>
                        {% for member in current_members %}
                            <tr id="member-{{ member.id }}">
                                <td class="first">{{ member.user.first_name }}</td>
                                <td class="last">{{ member.user.last_name }}</td>
                                <td class="email">{{ member.user.email }}</td>
                                {% if member.captain %}<td data-id="true" class="is-captain">Yes</td>{% else %}<td data-id="false" class="is-captain">No</td>{% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <br>
                <h4>Team Members</h4>
                <table class="table table-striped" id="current-members">
                    <thead><tr>
                        <th>First</th>
                        <th>Last</th>
                        <th>Email</th>
                        <th>Captain</th>
                    </tr></thead>
                    <tbody>
                    {% for member in current_members %}
                    <tr id="member-{{ member.id }}">
                        <td class="first">{{ member.user.first_name }}</td>
                        <td class="last">{{ member.user.last_name }}</td>
                        <td class="email">{{ member.user.email }}</td>
                        {% if member.captain %}<td data-id="true" class="is-captain">Yes</td>{% else %}<td data-id="false" class="is-captain">No</td>{% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% elif is_redgreen %}
                <p>You are currently signed up for {% if is_red %}Red{% elif is_green %}Green{% endif %} Team.</p>
                {% else %}
                <a class="btn btn-primary btn-lg btn-block" href="{% url "team-list" %}">{% if requested_team %}Request to join a different team{% else %}Join an existing team{% endif %}</a>
                <a class="btn btn-default btn-lg btn-block" href="{% url "create-team" %}">Create a new team</a>
                    {% if looking_for_team %}
                        <a class="btn btn-default btn-lg btn-block" href="{% url "toggle-lft" %}">You are "Looking For Team", click to disable</a>
                    {% else %}
                        <a class="btn btn-default btn-lg btn-block" href="{% url "toggle-lft" %}">You are not "Looking For Team", click to enable</a>
                    {% endif %}
                {% endif %}
            {% render_widget_bottom %}

        </div>

        {% if important_info %}
        <div class="col-md-5">
            {% render_widget important_info %}
            <dl>
                {% if competition_name %}
                    <dt>Competition:</dt>
                    <dd>{{ competition_name }}</dd>
                {% endif %}
                {% if competition_date %}
                    <dt>Competition Date:</dt>
                    <dd>{{ competition_date }}</dd>
                {% endif %}
                {% if rules_version %}
                    <dt>Rules/Administrative Documents:</dt>
                    <dd>{% render_rules_version %}</dd>
                {% endif %}
            </dl>

            {% if archived_emails %}
                <h4>Important Emails</h4>
                {% render_email_archive archived_emails %}
            {% endif %}
            {% render_widget_bottom %}
        </div>
        {% endif %}
    </div>
    {% if team %}
    <div class="row">
        <div class="col-md-5">
            {% render_widget download_docs %}
            {% if docs_url %}
                <p>Documents containing the scenario, accounts, and other scenario related information.</p>
                <a class="btn btn-sm btn-primary" href="{{ docs_url }}" target="_blank">View</a>
            {% else %}
                <p>Nothing here yet! You should receive an email from the staff when the documents become available.</p>
            {% endif %}
            {% render_widget_bottom %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-5">
            <form class='form-horizontal' action='' method="POST">
                {% render_form_widget form title="Change password" icon="fa-edit" %}
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
