{% extends "base.html" %}

{% block content %}
    <div class="col-md-4">
    {% if enable_creation %}
        <a class="btn btn-success btn-lg btn-block" href="{% url "signup" %}">Blue Team Signup</a>
    {% endif %}
    {% if enable_red or enable_green %}
        <a class="btn btn-info btn-lg btn-block" href="{% url "signup-redgreen" %}">Red Team/Green Team Signup</a>
    {% endif %}
        <a class="btn btn-primary btn-lg btn-block" href="{% url "site-login" %}">Sign in</a>
    </div>
{% endblock %}
