{% extends "base.html" %}
{% load tt_web %}

{% block content %}
    <div class="row">
        <div class="col-md-11" style="max-width: 700px;">
            {% render_widget widget_data %}
                <p>Are you sure you want to leave {{ team.name }}?</p>
                <form class='form-horizontal' action='' method="POST">
                    {% csrf_token %}
                    <input type="submit" action="{% url "leave-team" %}" class="btn btn-danger" value="Leave team">
                </form>
            {% render_widget_bottom %}
        </div>
    </div>

{% endblock %}