{% extends "base.html" %}

{% block content %}

    <div class="row-fluid">
        <div class="col-md-6 col-md-offset3">
            <div class="widget-box">
                <div class="widget-title">
                    <h5>Login</h5>
                </div>
                <div class="widget-content">
                    {% if form.errors %}
                    <div class="alert alert-error" style="text-align: center; margin-top: -15px;">Invalid credentials. &nbsp;Please try again.</div>
                    {% endif %}

                    <form class="login-form form-horizontal" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_username">Username</label>
                            <div class="col-sm-4">
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_password">Password</label>
                            <div class="col-sm-4">
                                {{ form.password }}
                            </div>
                            <div class="col-sm-4">
                                <a href="{% url "forgot-password" %}">Forgot your password?</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-5">
                                <input class="btn btn-primary" type="submit" value="Login" style="margin-bottom: 15px;"/>
                            </div>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>
        $(document).ready(function(){
            $('#id_username').focus();
        });
    </script>

{% endblock %}
