{% extends "base.html" %}
{% load tt_web %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if teams %}
                <div class="table-responsive">
                    <table class="table table-striped" id="current-teams">
                        <caption>Select a Team</caption>
                        <thead><tr>
                            <th>Name</th>
                            <th>Members</th>
                            <th>Captains</th>
                            <th>Captain Emails</th>
                            <th>Looking for New Members</th>
                            <th>Actions</th>
                        </tr></thead>
                        <tbody>
                        {% for team in teams %}
                        <tr id="team-{{ team.id }}">
                            <td class="name">{{ team.name }}</td>
                            <td class="count">{{ team.member_count }}</td>
                            <td class="captains">{{ team.captain_names }}</td>
                            <td class="captain-emails">{{ team.captain_emails }}</td>
                            <td class="looking-for-members">{{ team.looking_for_members|yesno:"Yes,No" }}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url "join-team" team.id %}">Request to join</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
             {% else %}
                <p>It looks like there aren't any teams yet. If you want, you can <a href="{% url "create-team" %}">make a new one yourself</a>.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}